# Default ignored files
/shelf/
/workspace.xml
/libraries/
# Datasource local storage ignored files
/../../../../../../../../../:\Users\tomer\OneDrive\Desktop\Advanced Topics in Programming\HW\ATP-Project-Part3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea